<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.burakkarabiyik.finansal.bilgiyarismasi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico"
        android:label="@string/app_name"
        android:versionCode="3"
        android:versionName="1.4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Giris">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Kayitol" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Anasayfa" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Profil" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Ayarlar" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Kategoriler" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.SoruEkle" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Sonuc" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Butunkategoriler" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.SifremiUnuttum" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.Aciklama" />
        <activity android:name="com.burakkarabiyik.finansal.bilgiyarismasi.SoruOneri"></activity>
    </application>

</manifest>